footer
	background: $gray
	text-align: center
	padding-bottom: 5px

	.real_estate
		color: $white
		display: inline-block
		line-height: 1.6
		text-align: left
		vertical-align: top

		.text
			margin: 18px 0 0 0
	
			a
				display: block

				&.clear
					height: 6px
					cursor: default

		&.mais
			margin: 0 0 0 25px

		&.matriz
			margin: 0 25px 0 0

	.location
		margin: 97px auto 34px
		color: $white

		> *
			display: inline-block
			min-height: 84px

			vertical-align: top

		.title
			opacity: 0.54
			font-size: 1.69rem
			padding: 30px 43px 0 0

		span
			height: 84px
			width: 84px

		.text
			font-size: 1.28rem
			opacity: 0.54
			padding-left: 23px
			text-align: left

			p
				margin-top: 7px

	.footnote
		color: $white
		display: block
		font-size: 0.71rem
		line-height: 1.6
		opacity: 0.54


.map
	height: 50%
	height: calc(100vh - 239px)
	float: left
	margin: 0 0 0
	width: 100%
	z-index: 0

.icon-top_arrow
	background-color: transparent
	cursor: pointer
	position: fixed
	height: 58px
	width: 58px
	bottom: 18px
	right: 18px
	opacity: 0.5
	+transition(0.5s)

	&:hover
		opacity: 1

