+keyframes(shake_form)
    0%
        +transform(translateY(-250%) translateX(-50%))
    20%
        +transform(translateY(-30%) translateX(-50%))
    40%
        +transform(translateY(-70%) translateX(-50%))
    60%
        +transform(translateY(-40%) translateX(-50%))
    80%
        +transform(translateY(-60%) translateX(-50%))
    100%
        +transform(translateY(-50%) translateX(-50%))

.modal
    display: none
    opacity: 0
    position: fixed
    z-index: 3
    +transition(0.5s)

    &.background
        background: rgba(0,0,0,0.5)
        height: 100%
        width: 100%

    &.show
        opacity: 1

    &.form, &.banner, &.table
        background: $white
        border-radius: 2px
        left: 50%
        position: fixed
        top: 50%
        +transform(translateY(-50%) translateX(-50%))

    &.table
        border: solid 1px #ccc
        box-shadow: 20px 20px 0px $white, -20px -20px 0px $white, -20px 20px 0px $white, 20px -20px 0px $white, -40px 40px 40px #333, 40px 40px 40px #333

        ul
            width: auto
            display: none

            &.show
                display: block

            li
                background: #fff
                padding: 15px
                width: 300px
                
                &:nth-child(odd)
                    background: #eee

                &.title
                    background: $blue
                    color: #fff
                    padding: 20px 0 
                    text-align: center
                
                span
                    display: inline-block
                    
                    &.value
                        float: right

    
    &.form
        // background: $white url(../img/logo.svg) 50% top no-repeat
        border: none
        box-shadow: 10px 10px 0 $white, -10px -10px 0 $white, -10px 10px 0 $white, 10px -10px 0 $white, -20px 20px 20px #333, 20px 20px 20px #333
        height: auto
        padding: 50px
        width: 600px
        z-index: 9
        line-height: 1.6

        .shake_title
            display: none

        &.shake
            animation-name: shake_form
            animation-duration: 1s
            animation-iteration-count: 1

            .title
                display: none

            .shake_title
                display: block

        form
            width: 100%
            margin-top: 15px

            label
                color: #949494
                left: 8px
                padding: 0 5px 2px
                position: absolute
                top: 8px
                width: 100%
                +transition(0.5s)

                &.fixed
                    top: -7px
                    left: 0
                    font-size: 0.6rem
                    color: #fff
                    background: #949494
                    height: auto
                    width: 100%

            .text
                background: none
                border: solid 1px #949494
                color: #949494
                font-size: 1rem
                margin-bottom: 12px
                padding: 5px
                width: 100%

                &:focus + label
                    @extend label.fixed

            input.text
                height: 34px

            .nome
                content: "Nome"
                position: absolute
                left: 0
                top: 0
            
            textarea.text
                height: 126px
                resize: none

    &.banner
        border: solid 1px #ccc
        background: $white url(../img/loading.gif) center no-repeat
        box-shadow: 10px 10px 0px $white, -10px -10px 0px $white, -10px 10px 0px $white, 10px -10px 0px $white, -20px 20px 20px #333, 20px 20px 20px #333
        width: 800px

        figure
            img
                width: 100%
                +transition(1s)

                &.hide
                    opacity: 0
        
            figcaption
                background-color: rgba(0, 0, 0, 0.68)
                position: absolute
                padding: 24px 0
                width: 100%
                color: $white
                bottom: 0
                text-align: center

        .ctrl
            cursor: pointer
            display: block
            height: 58px
            position: absolute
            top: 50%
            width: 58px
            z-index: 3
            +transform(translateY(-50%))

            &.icon-left_arrow
                left: 20px

            &.icon-right_arrow
                right: 20px
