footer
	.wrap
		
		.real_estate.matriz
			a(href='http://imobiliariamatriz.com.br', target='_blank')
				img(src='assets/img/imobiliaria_matriz.png')

			.text
				a(href='tel:1140280398') 11.4028.0398
				a(href='mailto:imobmatriz@ig.com.br') E-mail: imobmatriz@ig.com.br
				a.clear
				a(href='tel:11972745112') 11.97274.5112 - Corretor Carlos
				a(href='tel:11973136847') 11.97313.6847 - Corretor Osmir


		.real_estate.mais
			a(href='http://www.maisconsultoria.imb.br', target='_blank')
				img(src='assets/img/imobiliaria_mais.png')
			
			.text
				a(href='tel:1140215094') 11.4021.5094
				a(href='mailto:atendimento@maisconsultoria.imb.br') E-mail: atendimento@maisconsultoria.imb.br
				a.clear
				a(href='tel:1177906745') 11.7790.6745 - Corretor Vanderson
				a Nextel ID: 55* 96* 235437

		.location
			p.title LOCALIZAÇÃO

			span.icon-location

			.text
				p.bold DeltaLog Investimentos Imobiliários
				p Rua Batalha do Tuiuti, 900 - Bairro Lageado
				p Complemento: Km 42,2 / SP 75

		.footnote
			p 
				b Licença de instalação de Loteamento: 
				| CETESB  nº 36000028 de 13/05/2013 - 
				b Inscrição imobiliária 
				|nº 01.09.011.0010.001. 
				b Matrícula: 
				| 47.262

			p
				b Registrado no cartório de imóveis de Salto: 
				| Prenotação sob nº 87.815  de 25/01/2012

.map#map-canvas
	
button.icon-top_arrow



