section#project
	.wrap
		h2 PROJETO DELTALOG

		.cols.col1
			span.icon.icon-shield
			figure(data-image="infrastructure-01.jpg", data-number="1", data-group="infrastructure", data-section="#project", data-caption="Perspectiva Ilustrativa da Portaria").figure1
				figcaption SEGURANÇA <span class="br"></span>24H
				span.icon-magnify
				img(src="assets/img/project_photo_01.png", width="236", height="236")
		
		.cols.col2
			span.icon.icon-dinning_hall
			figure(data-image="infrastructure-02.jpg", data-number="2", data-group="infrastructure", data-section="#project", data-caption="Perspectiva Ilustrativa do Refeitório").figure2
				figcaption REFEITÓRIO<span class="br"> / </span>TREINAMENTO
				span.icon-magnify
				img(src="assets/img/project_photo_02.png", width="236", height="236")

		.cols.col3
			span.icon.icon-truck
			figure(data-image="infrastructure-03.jpg", data-number="3", data-group="infrastructure", data-section="#project", data-caption="Perspectiva Ilustrativa dos Galpões").figure3
				figcaption MOBILIDADE
				span.icon-magnify
				img(src="assets/img/project_photo_03.png", width="236", height="236")


		.description
			p Deltalog é o primeiro condomínio Industrial fechado de Salto dotado de infra-estrutura completa, com rede municipal de água e esgoto, energia elétrica pronta (carga mínima) para instalação da sua indústria. São lotes a partir de 1000m2. Além da losgistica privilegiada o que chama a atenção no projeto são os diferenciais. DeltaLog é um condomínio fechado com portaria e vigilância 24 horas. Toda a entrada ou saída de veículos é monitorado, proporcionando segurança total. DeltaLog conta ainda com um espaço moderno de alimentação onde será instalado o refeitório para servir colaboradores e empresários. No mesmo prédio terá disponível espaço para reuniões ou treinamentos, para que as empresas possam atender clientes, colaboradores e fornecedores com tranquilidade e conforto. A rua principal do condomínio foi planejada para facilitar a manobra de carga e descarga por caminhões e caminhões bi-trem, oferecendo total mobilidade.
			//- p DeltaLog é um condomínio industrial composto por 32 lotes com metragem a partir de 1000m2. Porém o que mais chama a atenção no projeto além da logística privilegiada, são os diferenciais. DeltaLog é um condomínio fechado com portaria e 
			//- 	b vigilância 24 horas. 
			//- 	| Toda a entrada ou saída de veículos é monitorado, proporcionando segurança total. DeltaLog conta ainda com um espaço moderno de alimentação onde será instalado um 
			//- 	b restaurante para servir refeições à colaboradores e empresários. 
			//- 	| No mesmo prédio serão construídas salas de reuniões, para que as empresas possam atender clientes e fornecedores com tranquilidade e conforto.
			
			//- p Mobilidade, a rua principal do condomínio foi planejada para 
			//- 	b facilitar a manobra de carga e descarga por caminhões.